body {
  margin: 0px;
  height: 100vh;
}

.card-wrapper {
  display: flex;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: brown;
  width: 500px;
  height: 358px;

  border-radius: 3%;
}

.card-design {
  position: absolute;
  fill: white;
  height: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

.contents {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.contents > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents > .top > p {
  color: #DFDFDE;
}

.contents > .body > p {
  color: white;
  font-weight: bold;
  font-size: x-large;
}

.contents > .bottom > p {
  color: #DFDFDE;
}