body {
  margin: 0px;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 50px 1fr 30px;
  grid-template-areas: "header header"
                       "contents settings"
                       "footer footer";
}

.header {
  grid-area: header;
  background-color: #FFD3B4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: #FFD3B4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header > p {
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.footer > p {
  font-size: small;
  color: white;
}

.contents {
  grid-area: contents;
}

.card-wrapper {
  display: flex;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: #C65D7B;
  width: 500px;
  height: 358px;

  border-radius: 3%;
}

#card-design {
  position: absolute;
  fill: #ffffff;
  height: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

.card-contents {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
}

.card-contents > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-contents > .top {
  color: #ebebeb;
  font-size: 25px;
}

.card-contents > .body {
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.card-contents > .bottom {
  color: #ebebeb;
  font-size: 25px;
}

.settings {
  grid-area: settings;
  background-color: #98DDCA;

  padding: 5px;
}

.settings .input-wrapper > input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
}

.settings .input-wrapper > textarea {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
}

.settings > div {
  margin-bottom: 10px;
}

.settings .colors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings .color-label > div {
  width: 30px;
  height: 30px;
}

.settings .designs {
  display: flex;
  justify-content: center;
  align-items: center;
}

#export {
  background-color: #FFAAA7;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 50px;

  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
}